%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tramway admin
    = stylesheet_link_tag    "tramway/admin/application", media: "all"
    = javascript_include_tag "tramway/admin/application"
    = csrf_meta_tags
  %body
    = render 'layouts/tramway/admin/shared/navbar'
    = yield
