%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %a.navbar-brand(href="#")
    Knowledge
  .navbar-collapse.collapse
    %ul.navbar-nav
      - if current_user&.admin?
        %li.nav-item
          = link_to Interview.model_name.human.pluralize(:ru), admin_interviews_path, class: 'nav-link'
        %li.nav-item
          = link_to User.model_name.human.pluralize(:ru), admin_users_path, class: 'nav-link'
        %li.nav-item
          = link_to InterviewType.model_name.human.pluralize(:ru), admin_interview_types_path, class: 'nav-link'
        %li.nav-item
          = link_to Category.model_name.human.pluralize(:ru), admin_categories_path, class: 'nav-link'
        %li.nav-item
          = link_to Topic.model_name.human.pluralize(:ru), admin_topics_path, class: 'nav-link'
        %li.nav-item
          = link_to Article.model_name.human.pluralize(:ru), admin_articles_path, class: 'nav-link'
      - if current_user&.role&.developer?
        %li.nav-item
          = link_to users_interviews_path, class: 'nav-link' do
            = t('helpers.mine')
            = Interview.model_name.human.pluralize(:ru).downcase
        %li.nav-item
          = link_to User.model_name.human.pluralize(:ru), users_users_path, class: 'nav-link'
        %li.nav-item
          = link_to InterviewType.model_name.human.pluralize(:ru), users_interview_types_path, class: 'nav-link'
        %li.nav-item
          = link_to Category.model_name.human.pluralize(:ru), users_categories_path, class: 'nav-link'
        %li.nav-item
          = link_to Topic.model_name.human.pluralize(:ru), users_topics_path, class: 'nav-link'
        %li.nav-item
          = link_to Article.model_name.human.pluralize(:ru), users_articles_path, class: 'nav-link'
    %ul.nav.navbar-nav.ml-auto
      - if signed_in?
        %li.nav-item
          = link_to edit_users_account_path, class: 'nav-link' do
            = fa_icon :user
            = t('helpers.links.profile')
        %li.nav-item
          = link_to session_path, method: :delete, class: 'nav-link' do
            = fa_icon 'sign-out'
            = t('helpers.links.sign_out')
      - else
        %li.nav-item
          = link_to new_session_path, class: 'nav-link' do
            = fa_icon 'sign-in'
            = t('helpers.links.enter')
