%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %a.navbar-brand(href="#")
    Tramway Admin
  .navbar-collapse.collapse
    %ul.navbar-nav
      - ::Tramway::Admin.available_models.each do |model|
        = menu_item model.model_name.human, '#'
    %ul.nav.navbar-nav.ml-auto
      - if signed_in?
        %li.nav-item
          = link_to '/session', method: :delete, class: 'nav-link' do
            = fa_icon 'sign-out'
            = t('helpers.links.sign_out')
      - else
        %li.nav-item
          = link_to new_session_path, class: 'nav-link' do
            = fa_icon 'sign-in'
            = t('helpers.links.enter')
